<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-1" *ngFor="let reporte of reportes">
    <h4>Publicado el {{reporte.fecha_publicacion}}</h4>
    <img src="https://blob.diariodelyaqui.mx/images/2024/07/30/de-cuanto-es-la-multa-por-dejar-un-auto-abandonado-en-la-calle-8e02a12f-focus-0-0-784-440.jpg" alt="Placeholder Image" class="responsive-img">

    <ion-list class="home">
      <ion-item>
        <ion-label>
          <p>Región: {{ reporte.region }}</p>
          <p>Tipo de Vehículo: {{ reporte.tipo_vehiculo }}</p>
          <p>Marca: {{ reporte.marca }}</p>
          <p>Modelo: {{ reporte.modelo }}</p>
          <p>Color: {{ reporte.color }}</p>
          <p>Patente: {{ reporte.patente }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
