<ion-app>
  <!-- Menú lateral -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Botón para esconder el menú -->
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Lista de opciones del menú -->
    <ion-list>
      <ion-item (click)="irHome()">
        <ion-icon name="Home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item (click)="irLogin()">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Iniciar sesión</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="person-add" slot="start"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-item>
      <br>
      <br>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content"></ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
