<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FindCar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="reportes && reportes.length > 0">
  <div class="container-1" *ngFor="let reporte of reportes">
    <h4>Publicado el 03/09/2024</h4>
    <img src="https://scontent.fscl22-1.fna.fbcdn.net/v/t1.6435-9/133139526_3494317893979078_4421004428671709138_n.jpg" alt="Placeholder Image" class="responsive-img">
    <ion-list class="home">
      <ion-item>
        <ion-label>Región: {{ reporte.region }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de vehículo: {{ reporte.tipoVehiculo }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Color: {{ reporte.color }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Patente: {{ reporte.patente }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button class="ubi">Ver ubicación</ion-button>
  </div>
</ion-content>

<!-- Si no hay reportes, mostrar un mensaje -->
<ion-content *ngIf="!reportes || reportes.length === 0">
  <p>No se encontraron reportes.</p>
</ion-content>
