<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FindCar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-1" *ngFor="let reporte of reportes">
    <h4>Publicado el {{reporte.fecha_publicacion}}</h4>
    <img *ngIf="reporte.foto" [src]="reporte.foto" alt="Foto del reporte" class="responsive-img">
    <ion-list class="home">
      <ion-item>
        <ion-label>
          <p>Región: {{ reporte.region?.nombre }}</p>
          <p>Tipo de Vehículo: {{ reporte.tipo_vehiculo?.tipo }}</p>
          <p>Marca: {{ reporte.marca?.marca }}</p>
          <p>Modelo: {{ reporte.modelo }}</p>
          <p>Color: {{ reporte.color }}</p>
          <p>Patente: {{ reporte.patente }}</p>
        </ion-label>
      </ion-item>
      <ion-button class="ubi" (click)="verificarReportes(reporte)">Ver ubicación</ion-button>
    </ion-list>
  </div>
</ion-content>
