
.container-1 {
  // background-color: #e0f7fa; /* Fondo azul claro */
    border: 1px solid #b2ebf2; /* Borde azul m치s claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 16px; /* Espacio interno */
    margin: 16px 16PX; /* Margen superior e inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra m치s pronunciada */
}

h4, .ubi{
  display: flex; /* Usa flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente el bot칩n */
  margin-top: 20px; /* A침ade margen superior si es necesario */
}
